.container {
  &:after, &:before {
    content: ' ';
    display: table;
  }
}

.row {
  &:after, &:before {
    content: ' ';
    display: table;
  }
}

.container:after, .row:after {
  clear: both;
}

.container, .containerFluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col1 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 8.33333%;
}

.colOffset1 {
  margin-left: 8.33333%;
}

.col2 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 16.66667%;
}

.colOffset2 {
  margin-left: 16.66667%;
}

.col3 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 25%;
}

.colOffset3 {
  margin-left: 25%;
}

.col4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 33.33333%;
}

.colOffset4 {
  margin-left: 33.33333%;
}

.col5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 41.66667%;
}

.colOffset5 {
  margin-left: 41.66667%;
}

.col6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 50%;
}

.colOffset6 {
  margin-left: 50%;
}

.col7 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 58.33333%;
}

.colOffset7 {
  margin-left: 58.33333%;
}

.col8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 66.66667%;
}

.colOffset8 {
  margin-left: 66.66667%;
}

.col9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 75%;
}

.colOffset9 {
  margin-left: 75%;
}

.col10 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 83.33333%;
}

.colOffset10 {
  margin-left: 83.33333%;
}

.col11 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 91.66667%;
}

.colOffset11 {
  margin-left: 91.66667%;
}

.col12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 100%;
}

.colOffset12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  .colSm1 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 8.33333%;
  }
  .colSmOffset1 {
    margin-left: 8.33333%;
  }
  .colSm2 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 16.66667%;
  }
  .colSmOffset2 {
    margin-left: 16.66667%;
  }
  .colSm3 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 25%;
  }
  .colSmOffset3 {
    margin-left: 25%;
  }
  .colSm4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 33.33333%;
  }
  .colSmOffset4 {
    margin-left: 33.33333%;
  }
  .colSm5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 41.66667%;
  }
  .colSmOffset5 {
    margin-left: 41.66667%;
  }
  .colSm6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 50%;
  }
  .colSmOffset6 {
    margin-left: 50%;
  }
  .colSm7 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 58.33333%;
  }
  .colSmOffset7 {
    margin-left: 58.33333%;
  }
  .colSm8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 66.66667%;
  }
  .colSmOffset8 {
    margin-left: 66.66667%;
  }
  .colSm9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 75%;
  }
  .colSmOffset9 {
    margin-left: 75%;
  }
  .colSm10 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 83.33333%;
  }
  .colSmOffset10 {
    margin-left: 83.33333%;
  }
  .colSm11 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 91.66667%;
  }
  .colSmOffset11 {
    margin-left: 91.66667%;
  }
  .colSm12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 100%;
  }
  .colSmOffset12 {
    margin-left: 100%;
  }
}

@media (min-width: 992px) {
  .colMd1 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 8.33333%;
  }
  .colMdOffset1 {
    margin-left: 8.33333%;
  }
  .colMd2 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 16.66667%;
  }

  .colMdOffset2 {
    margin-left: 16.66667%;
  }
  .colMd3 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 25%;
  }
  .colMdOffset3 {
    margin-left: 25%;
  }
  .colMd4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 33.33333%;
  }
  .colMdOffset4 {
    margin-left: 33.33333%;
  }
  .colMd5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 41.66667%;
  }
  .colMdOffset5 {
    margin-left: 41.66667%;
  }
  .colMd6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 50%;
  }
  .colMdOffset6 {
    margin-left: 50%;
  }
  .colMd7 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 58.33333%;
  }
  .colMdOffset7 {
    margin-left: 58.33333%;
  }
  .colMd8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 66.66667%;
  }
  .colMdOffset8 {
    margin-left: 66.66667%;
  }
  .colMd9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 75%;
  }
  .colMdOffset9 {
    margin-left: 75%;
  }
  .colMd10 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 83.33333%;
  }
  .colMdOffset10 {
    margin-left: 83.33333%;
  }
  .colMd11 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 91.66667%;
  }
  .colMdOffset11 {
    margin-left: 91.66667%;
  }
  .colMd12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 100%;
  }
  .colMdOffset12 {
    margin-left: 100%;
  }
}

@media (min-width: 1200px) {
  .colLg1 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 8.33333%;
  }
  .colLgOffset1 {
    margin-left: 8.33333%;
  }
  .colLg2 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 16.66667%;
  }
  .colLgOffset2 {
    margin-left: 16.66667%;
  }
  .colLg3 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 25%;
  }
  .colLgOffset3 {
    margin-left: 25%;
  }
  .colLg4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 33.33333%;
  }
  .colLgOffset4 {
    margin-left: 33.33333%;
  }
  .colLg5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 41.66667%;
  }
  .colLgOffset5 {
    margin-left: 41.66667%;
  }
  .colLg6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 50%;
  }
  .colLgOffset6 {
    margin-left: 50%;
  }
  .colLg7 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 58.33333%;
  }
  .colLgOffset7 {
    margin-left: 58.33333%;
  }
  .colLg8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 66.66667%;
  }
  .colLgOffset8 {
    margin-left: 66.66667%;
  }
  .colLg9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 75%;
  }
  .colLgOffset9 {
    margin-left: 75%;
  }
  .colLg10 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 83.33333%;
  }
  .colLgOffset10 {
    margin-left: 83.33333%;
  }
  .colLg11 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 91.66667%;
  }
  .colLgOffset11 {
    margin-left: 91.66667%;
  }
  .colLg12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 100%;
  }
  .colLgOffset12 {
    margin-left: 100%;
  }
}

@media (max-width: 767px) {
  .hiddenXs {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hiddenSm {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hiddenMd {
    display: none;
  }
}

@media (min-width: 1200px) {
  .hiddenLg {
    display: none;
  }
}

