.container {
  &:after, &:before {
    content: ' ';
    display: table;
  }
}

.row {
  &:after, &:before {
    content: ' ';
    display: table;
  }
}

.clearfix {
  &:after, &:before {
    content: ' ';
    display: table;
  }
}

.container:after, .row:after, .clearfix:after {
  clear: both;
}

.containerFluid, .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col1 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 8.33333%;
}

.colOffset1 {
  margin-left: 8.33333%;
}

.col2 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 16.66667%;
}

.colOffset2 {
  margin-left: 16.66667%;
}

.col3 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 25%;
}

.colOffset3 {
  margin-left: 25%;
}

.col4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 33.33333%;
}

.colOffset4 {
  margin-left: 33.33333%;
}

.col5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 41.66667%;
}

.colOffset5 {
  margin-left: 41.66667%;
}

.col6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 50%;
}

.colOffset6 {
  margin-left: 50%;
}

.col7 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 58.33333%;
}

.colOffset7 {
  margin-left: 58.33333%;
}

.col8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 66.66667%;
}

.colOffset8 {
  margin-left: 66.66667%;
}

.col9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 75%;
}

.colOffset9 {
  margin-left: 75%;
}

.col10 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 83.33333%;
}

.colOffset10 {
  margin-left: 83.33333%;
}

.col11 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 91.66667%;
}

.colOffset11 {
  margin-left: 91.66667%;
}

.col12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  width: 100%;
}

.colOffset12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  .colSm1 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 8.33333%;
  }
  .colSmOffset1 {
    margin-left: 8.33333%;
  }
  .colSm2 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 16.66667%;
  }
  .colSmOffset2 {
    margin-left: 16.66667%;
  }
  .colSm3 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 25%;
  }
  .colSmOffset3 {
    margin-left: 25%;
  }
  .colSm4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 33.33333%;
  }
  .colSmOffset4 {
    margin-left: 33.33333%;
  }
  .colSm5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 41.66667%;
  }
  .colSmOffset5 {
    margin-left: 41.66667%;
  }
  .colSm6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 50%;
  }
  .colSmOffset6 {
    margin-left: 50%;
  }
  .colSm7 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 58.33333%;
  }
  .colSmOffset7 {
    margin-left: 58.33333%;
  }
  .colSm8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 66.66667%;
  }
  .colSmOffset8 {
    margin-left: 66.66667%;
  }
  .colSm9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 75%;
  }
  .colSmOffset9 {
    margin-left: 75%;
  }
  .colSm10 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 83.33333%;
  }
  .colSmOffset10 {
    margin-left: 83.33333%;
  }
  .colSm11 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 91.66667%;
  }
  .colSmOffset11 {
    margin-left: 91.66667%;
  }
  .colSm12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 100%;
  }
  .colSmOffset12 {
    margin-left: 100%;
  }
}

@media (min-width: 992px) {
  .colMd1 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 8.33333%;
  }
  .colMdOffset1 {
    margin-left: 8.33333%;
  }
  .colMd2 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 16.66667%;
  }
  .colMdOffset2 {
    margin-left: 16.66667%;
  }
  .colMd3 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 25%;
  }
  .colMdOffset3 {
    margin-left: 25%;
  }
  .colMd4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 33.33333%;
  }
  .colMdOffset4 {
    margin-left: 33.33333%;
  }
  .colMd5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 41.66667%;
  }
  .colMdOffset5 {
    margin-left: 41.66667%;
  }
  .colMd6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 50%;
  }
  .colMdOffset6 {
    margin-left: 50%;
  }
  .colMd7 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 58.33333%;
  }
  .colMdOffset7 {
    margin-left: 58.33333%;
  }
  .colMd8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 66.66667%;
  }
  .colMdOffset8 {
    margin-left: 66.66667%;
  }
  .colMd9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 75%;
  }
  .colMdOffset9 {
    margin-left: 75%;
  }
  .colMd10 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 83.33333%;
  }
  .colMdOffset10 {
    margin-left: 83.33333%;
  }
  .colMd11 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 91.66667%;
  }
  .colMdOffset11 {
    margin-left: 91.66667%;
  }
  .colMd12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 100%;
  }
  .colMdOffset12 {
    margin-left: 100%;
  }
}

@media (min-width: 1200px) {
  .colLg1 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 8.33333%;
  }
  .colLgOffset1 {
    margin-left: 8.33333%;
  }
  .colLg2 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 16.66667%;
  }
  .colLgOffset2 {
    margin-left: 16.66667%;
  }
  .colLg3 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 25%;
  }
  .colLgOffset3 {
    margin-left: 25%;
  }
  .colLg4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 33.33333%;
  }
  .colLgOffset4 {
    margin-left: 33.33333%;
  }
  .colLg5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 41.66667%;
  }
  .colLgOffset5 {
    margin-left: 41.66667%;
  }
  .colLg6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 50%;
  }
  .colLgOffset6 {
    margin-left: 50%;
  }
  .colLg7 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 58.33333%;
  }
  .colLgOffset7 {
    margin-left: 58.33333%;
  }
  .colLg8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 66.66667%;
  }
  .colLgOffset8 {
    margin-left: 66.66667%;
  }
  .colLg9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 75%;
  }
  .colLgOffset9 {
    margin-left: 75%;
  }
  .colLg10 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 83.33333%;
  }
  .colLgOffset10 {
    margin-left: 83.33333%;
  }
  .colLg11 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 91.66667%;
  }
  .colLgOffset11 {
    margin-left: 91.66667%;
  }
  .colLg12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 100%;
  }
  .colLgOffset12 {
    margin-left: 100%;
  }
}

@media (max-width: 767px) {
  .hiddenXs {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hiddenSm {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hiddenMd {
    display: none;
  }
}

@media (min-width: 1200px) {
  .hiddenLg {
    display: none;
  }
}

.navbar {
  background: #1f2933;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9900;
  height: 58px;
}

.content, .cardsContainer {
  padding-top: 58px;
}

.centered, .right, .left {
  overflow: hidden;
  min-height: 100vh;
}

.centered {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

.left {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  margin-right: 40%;
  position: relative;
  width: 60%;
  z-index: 9800;
}

@media (min-width: 1200px) {
  .left {
    width: calc(620px + 0%);
  }
}

@media (max-width: 768px) {
  .left {
    width: 100%;
  }
}

.right {
  position: fixed;
  z-index: 9700;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40%;
}

@media (min-width: 1200px) {
  .right {
    width: calc(100% - (620px + 0%));
  }
}

@media (max-width: 768px) {
  .right {
    display: none;
    width: 0;
  }
}

.pn {
  padding: 0;
}

.mn {
  margin: 0;
}

.phn {
  padding-right: 0;
  padding-left: 0;
}

.mhn {
  margin-right: 0;
  margin-left: 0;
}

.pvn {
  padding-top: 0;
  padding-bottom: 0;
}

.mvn {
  margin-top: 0;
  margin-bottom: 0;
}

.ptn {
  padding-top: 0;
}

.mtn {
  margin-top: 0;
}

.prn {
  padding-right: 0;
}

.mrn {
  margin-right: 0;
}

.pbn {
  padding-bottom: 0;
}

.mbn {
  margin-bottom: 0;
}

.pln {
  padding-left: 0;
}

.mln {
  margin-left: 0;
}

.ps {
  padding: 7px;
}

.ms {
  margin: 7px;
}

.phs {
  padding-right: 7px;
  padding-left: 7px;
}

.mhs {
  margin-right: 7px;
  margin-left: 7px;
}

.pvs {
  padding-top: 7px;
  padding-bottom: 7px;
}

.mvs {
  margin-top: 7px;
  margin-bottom: 7px;
}

.pts {
  padding-top: 7px;
}

.mts {
  margin-top: 7px;
}

.prs {
  padding-right: 7px;
}

.mrs {
  margin-right: 7px;
}

.pbs {
  padding-bottom: 7px;
}

.mbs {
  margin-bottom: 7px;
}

.pls {
  padding-left: 7px;
}

.mls {
  margin-left: 7px;
}

.pm {
  padding: 14px;
}

.mm {
  margin: 14px;
}

.phm {
  padding-right: 14px;
  padding-left: 14px;
}

.mhm {
  margin-right: 14px;
  margin-left: 14px;
}

.pvm {
  padding-top: 14px;
  padding-bottom: 14px;
}

.mvm {
  margin-top: 14px;
  margin-bottom: 14px;
}

.ptm {
  padding-top: 14px;
}

.mtm {
  margin-top: 14px;
}

.prm {
  padding-right: 14px;
}

.mrm {
  margin-right: 14px;
}

.pbm {
  padding-bottom: 14px;
}

.mbm {
  margin-bottom: 14px;
}

.plm {
  padding-left: 14px;
}

.mlm {
  margin-left: 14px;
}

.pl {
  padding: 28px;
}

.ml {
  margin: 28px;
}

.phl {
  padding-right: 28px;
  padding-left: 28px;
}

.mhl {
  margin-right: 28px;
  margin-left: 28px;
}

.pvl {
  padding-top: 28px;
  padding-bottom: 28px;
}

.mvl {
  margin-top: 28px;
  margin-bottom: 28px;
}

.ptl {
  padding-top: 28px;
}

.cardsContainer, .mtl {
  margin-top: 28px;
}

.prl {
  padding-right: 28px;
}

.mrl {
  margin-right: 28px;
}

.pbl {
  padding-bottom: 28px;
}

.mbl {
  margin-bottom: 28px;
}

.pll {
  padding-left: 28px;
}

.mll {
  margin-left: 28px;
}

.fillContent {
  position: absolute;
  top: 58px;
  bottom: 0;
  left: 0;
  right: 0;
}

.pullRight {
  float: right;
}

.alignRight {
  text-align: right !important;
}

.mapContainer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.flexContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flexItem {
  width: auto;
  margin-right: 14px;
  &:last-child {
    margin-right: 0;
  }
}
