.white {
  color: #fff;
}

.blue {
  color: #11a3eb;
}

.darkestBlue {
  color: #1f2933;
}

.green {
  color: #0bce35;
}

.yellow {
  color: #ffb11f;
}

.red {
  color: #ff465c;
}

.black {
  color: #0a0b0c;
}

.darkerGrey {
  color: #636a71;
}

.grey {
  color: #8f96a0;
}

.lighterGrey {
  color: #d2d9dc;
}

.lightestGrey {
  color: #f0f3f7;
}

.center {
  text-align: center;
}

.hideText {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
