.statusContainer {
  position: relative;
}

.expiredButtons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.1s ease-in;
  button {
    margin-bottom: 7px;
  }
}

.status {
  opacity: 1;
}

tr:hover {
  .expiredButtons {
    z-index: 2000;
    opacity: 1;
  }
  .status {
    opacity: 0;
  }
}

.idHeader {
  width: 12%;
}

.statusHeader {
  width: 15%;
}

.pickUpHeader, .dropOffHeader {
  width: 30%;
}

.priceHeader, .priceCell {
  text-align: right;
}

.priceHeader {
  width: 10%;
}
