.authPageContainer {
  background-color: #fff;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.logInForm {
  position: relative;
}

.passwordResetLink {
  position: absolute;
  right: 0;
  bottom: 10px;
}
