.barContent {
  &:after, &:before {
    content: ' ';
    display: table;
  }
}

.row:after, .container:after, .barContent:after {
  clear: both;
}

.form {
  padding: 28px 42px 60px;
}

.bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 60%;
  height: 60px;
  background: #fff;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.08);
}
