.cardItem {
  border-bottom: 1px solid #f0f3f7;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 14px;
  padding-bottom: 14px;
}

.cardName, .cardIsDefault, .cardIcon, .cardExpiryDate, .cardSetDefault {
  line-height: 32px;
  margin-right: 14px;
}

.cardIcon img {
  height: 16px;
  vertical-align: middle;
}

.cardName {
  color: #0a0b0c;
  width: 14rem;
}

.cardExpiryDate {
  color: #0a0b0c;
  width: 12rem;
}

.cardIsDefault {
  -ms-flex-positive: 2;
  flex-grow: 2;
}
