.contact p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.picture {
  float: left;
  margin-right: 14px;
  position: relative;
}

.pictureMask {
  margin-top: 2px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
}

.defaultPicture {
  margin-top: 1px;
}
