.transport {
  display: block;
  transition: all .1s ease-in;
  cursor: pointer;
  &.disabled {
    opacity: .5;
    cursor: default;
  }
  + .transport {
    margin-top: 14px;
  }
}

.transportTable {
  width: 100%;
  border-collapse: collapse;
}

.transportLabelCell, .transportIconCell, .transportCheckboxCell, .stcx0 {
  height: 44px;
  vertical-align: middle;
}

.transportIconCell, .transportCheckboxCell, .transportPriceCell {
  width: 1px;
}

.transportLabelCell {
  width: 100%;
}

.transportIconCell img {
  vertical-align: bottom;
}

.transportLabelCell, .transportPriceCell {
  padding: 0 14px;
}

.transportCheckboxCell, .transportPriceCell {
  text-align: right;
}

.transportEtaDuration {
  color: #11a3eb;
}

.transportPrice {
  color: #0bce35;
}

.noDriver .transportPrice {
  color: #636a71;
}
