select {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwIDYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgMWwzLjk0IDMuNjI1TDkuMTQgMSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iIzYzNkE3MSIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==) no-repeat 100%;
  border-radius: 0;
  padding: 8px 0 13px;
  border-bottom: 1px solid #d2d9dc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
