table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

header {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  padding: 14px;
  border-bottom: 2px solid #d2d9dc;
}

cell {
  padding: 14px;
  border-bottom: 1px solid #d2d9dc;
  vertical-align: top;
}

loadMore {
  display: block;
  padding: 14px 0;
  text-align: center;
}
