.itemLink {
  transition: all .1s ease-in;
  display: inline-block;
  font-size: 1rem;
  padding: 5px 10px 7px;
  border-radius: 4px;
  vertical-align: middle;
  border: 0;
  outline: none;
  display: block;
  color: #0a0b0c;
  &:hover {
    text-decoration: none;
  }
}

.itemLinkActive {
  background: rgba(17, 163, 235, 0.1);
  color: #11a3eb;
}

