textInput {
  outline: none;
  width: 100%;
  border: 0;
  padding: 8px 0 9px;
  border-bottom: 1px solid #d2d9dc;
  transition: border-color 0.1s ease-in;
  &:focus {
    border-color: #11a3eb;
  }
}
